doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #flashes
      each message, type in (flash || {})
        .flash(class=type)= message
    block content
